.payment-screen {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 30px;
  text-align: center;
  font-family: system-ui, sans-serif;
}

.payment-summary {
  background-color: #cfcfcf;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
}

.payment-method-btn {
  background-color: #cece00;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  font-size: 18px;
  cursor: pointer;
  display: block;
}

.payment-action-btn {
  background-color: #ff0088;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  width: 40%;
  font-size: 18px;
  cursor: pointer;
}
.logo-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 120px;
}
